Ideally this section should be done in front end interfaces for user input. Thus, dummy codes shall be used where applicable

In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

#machine learning packages
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.metrics import roc_auc_score

#models
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

#export object
import joblib

# load trained object

In [47]:
predictor = joblib.load( "random_forest_predictor.pkl")
scaler = joblib.load( "feature_scaler.pkl")

In [4]:
# load data format

In [38]:
df = pd.read_csv("sample_format.csv")
df = df.iloc[0]
df = pd.DataFrame(df).T
df.iloc[0] = np.nan

In [35]:
# df = pd.read_csv("sample_format.csv")
df

,numofdependence,education,age,household_income,work_experience,years_home_owned,Female,Male,DIVORCE,MARRIED,SINGLE,WIDOWED,Director,Manager,Staff,Supervisor,self-employed
0,-0.432175,-0.375479,-0.188866,-0.428969,-0.067164,-0.151991,0,1,0,1,0,0,0,0,0,0,1
1,1.908579,1.502083,0.445794,3.172327,-0.033388,1.965045,0,1,0,1,0,0,0,0,1,0,0
2,-0.432175,1.502083,-0.717749,-0.118703,-0.089681,-1.092895,0,1,0,1,0,0,0,0,0,0,1
3,0.348077,1.502083,0.551570,1.787213,0.022906,-0.465626,0,1,0,1,0,0,0,0,0,0,1
4,1.908579,-0.375479,-0.506196,-0.539778,-0.078423,-0.936078,1,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67339,-1.212426,-0.375479,-1.458185,-0.151946,-0.100940,0.553688,1,0,0,0,1,0,0,0,0,0,1
67340,1.128328,1.502083,-0.611972,-0.428969,-0.067164,-1.249713,1,0,0,1,0,0,0,0,1,0,0
67341,1.128328,-0.375479,-0.400419,0.125077,0.045423,1.337775,1,0,0,1,0,0,0,0,0,0,1
67342,0.348077,1.502083,0.022687,-0.712917,-0.044647,-0.387217,1,0,0,1,0,0,0,0,1,0,0
67343,0.348077,-0.375479,0.974676,-0.151946,0.000388,2.357088,0,1,0,1,0,0,0,0,0,0,1

# take in user input

In [49]:
#through portal, this will be the interface with the teller. Each variable will prompt the teller to manually
#key in the information of the loan applicant 
def user_input(str):
    #command take in user's input
    #command to sort it into the next cell in the row
    return str

gender = user_input("text")
maritalstatus = user_input("text")
numofdependence = user_input("number")
education = user_input("number")
jobpos = user_input("number")
age = user_input("number")
household_income  = user_input("number")
work_experience = user_input("number")
years_home_owned = user_input("number")

In [50]:
#assuming user input correct value the following should be variables 
gender = "Male"
maritalstatus = "SINGLE"
numofdependence = 1
education = 4
jobpos = "Staff"
age = 33
household_income  = 120000
work_experience = 12
years_home_owned = 5

# Structure data set

In [51]:
#sort value into place and fill empty cell with 0
df["numofdependence"] = numofdependence
df['education'] = education
df["age"] = age
df["household_income"] = household_income
df['work_experience'] = work_experience
df["years_home_owned"] = years_home_owned
df[gender] = 1
df[maritalstatus] = 1
df[jobpos] = 1
df.fillna(0, inplace=True)

# data preprossing

In [52]:
numeric_columns = df.columns[0:6]
df[numeric_columns] = scaler.transform(df[numeric_columns])

# prediction

In [53]:
if predictor.predict(df) == 0:
    print("loan approved")
else:
    print("loan not approved")

loan approved